# Finale Backup Files
.gitconfig
*.bak
[Bb]in*/
*.db
.DS_Store
SystemCheck.*
*.doc
*.docx
*.pdf
*.mus
*.synctex.gz
*.synctex.gz(busy)
Eurydice.cues
Eurydice.YSM
Music/
MusicSource/
OtherSheetMusic/
RehearsalReports/
Samples/
SheetMusic/
temp/
SoundEffects/
SoundEffectsSource/
SystemCheck_data/
SheetMusicSource/*/
